<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.andreas.docker-stuck-check</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/mignot/git/Andreas-Garcia/scripts/docker-unstick-macos.sh</string>
    <string>--check</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartInterval</key>
  <integer>120</integer>
</dict>
</plist>
